[project]
	description = Protocol Buffers - Google's data interchange format
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hulaile
[access "refs/for/refs/*"]
	read = group user/hulaile
	push = group user/hulaile
	label-Code-Review = -2..+2 group user/hulaile
	label-Verified = -1..+1 group user/hulaile
	rebase = group user/hulaile
	removeReviewer = group user/hulaile
	submit = group user/hulaile
[access "refs/heads/*"]
	read = group user/hulaile
	create = group user/hulaile
	push = +force group user/hulaile
	pushMerge = group user/hulaile
[access "refs/tags/*"]
	push = group user/hulaile
	push = +force group user/hulaile
